{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "eqeqeq": ["error", "always"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "linebreak-style": ["error", "unix"],
    "max-len": ["error", 80],
    "object-curly-spacing": ["error", "always"],
    "quotes": ["error", "double"],
    "react/prop-types": ["error", {"ignore": ["children"]}],
    "semi": ["error", "always"]
  }
}
