{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "arrow-parens": ["error", "always"],
    "arrow-spacing": ["error"],
    "block-spacing": ["error", "always"],
    "brace-style": ["error"],
    "camelcase": ["error"],
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error"],
    "comma-style": ["error", "last"],
    "computed-property-spacing": ["error", "never"],
    "curly": ["error", "all"],
    "dot-location": ["error", "object"],
    "eol-last": ["error", "always"],
    "eqeqeq": ["error", "always"],
    "func-call-spacing": ["error", "never"],
    "func-style": ["error", "declaration"],
    "generator-star-spacing": ["error", {"before": false, "after": true}],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": ["error"],
    "keyword-spacing": ["error"],
    "linebreak-style": ["error", "unix"],
    "max-len": ["error", 80],
    "new-parens": ["error"],
    "no-multi-spaces": ["error"],
    "no-trailing-spaces": ["error"],
    "no-var": ["error"],
    "object-curly-spacing": ["error", "never"],
    "operator-linebreak": ["error", "after"],
    "quotes": ["error", "double"],
    "react/prop-types": ["error", {"ignore": ["children"]}],
    "rest-spread-spacing": ["error"],
    "semi": ["error", "always"],
    "semi-spacing": ["error"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": ["error"],
    "space-unary-ops": ["error"],
    "spaced-comment": ["error", "always"],
    "template-curly-spacing": ["error"],
    "yield-star-spacing": ["error", "after"]
  }
}
